<div class="row">
  <div class="col-4 offset-4">
    <form [formGroup]="exibitionForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          id="title"
          placeholder="Enter title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          formControlName="description"
          type="text"
          class="form-control"
          id="description"
          placeholder="Enter description"
        />
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <select
          formControlName="location"
          name="location"
          id="location"
          class="form-control"
        >
          <option>--</option>
          <option [value]="item._id" *ngFor="let item of locations">
            {{ item.site }}, {{ item.room }}
          </option>
        </select>
      </div>
    </form>
    <div class="row">
      <div class="col-2 offset-10">
        <button (click)="onSubmit()" class="btn btn-dark">Submit</button>
      </div>
    </div>
  </div>
</div>
